  body {
      background-color: #7a1ff2;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
     .container {
      display: flex;
      width: 800px;
      max-width: 100%;
      border-radius: 8px;
      box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    }

.left-box{
    background-color: white;
    min-width: 50%;
    min-height: 100%;
    /* border: 2px solid black;  */
    /* padding: 5%; */
    padding-bottom: 0%;
}
.right-box{

    min-width: 50%;
    min-height: 100%;
    background-image: url("./23.png");
    background-size:cover;
    padding: 2rem;
    font-size: 1rem;
   
    color: rgb(250, 252, 252);
    text-overflow: hidden;
    text-align: center;
    font-weight: bold;
    /* opacity: 0.5; */
     
    display: flex;
    flex-direction: column;
    justify-content: center;
       /* border: 2px solid black;  */
}
.text{
    margin-top: 3rem;
    margin-left: 2rem;
}
input{
    width: 80%;
    border: none;
    border-bottom: 2px solid gray;
    margin-left: 2rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    
     /* padding: 10px 3rem ; */
}
button{
    color: white;
     width: 80%;
    margin-top: 2rem;
    font-size: 1rem;
     margin-left: 2rem;
     margin-bottom: 1rem;
    padding: 10px 7rem ;
    background-color: blueviolet;
    border: none;
     border-radius: 5px;
}
a{
    font-weight: 500;
    color: blueviolet;
     margin-left: 2rem;
    text-decoration: none;
    margin-top: 2rem;
}

.get{
    
     margin-left: 4.5rem;
    
}
.link{
    margin: 0;
}
h2{
opacity: 1;    
    /* margin-top: 2rem; */
}
  
.input-with-icon {
      position: relative;
      /* width: 80%; */
      border: none;
    }

    .input-with-icon i {
      position: absolute;
      left: 30px;
      top: 35%;
      transform: translateY(-50%);
      color: #888;
    }
 @media (max-width: 768px) {
  body{
    align-items: start;
    margin-top: 2rem;
  }
      .container {
        flex-direction: column;
        width: 90%;
        min-width: 350px;
        
      }

      .left-box {
        order: 2;
        
      }
      .get{
        margin-left: 0;
        text-align: center;
      }
    }

    

